
/* Tema escuro */
$dark-main-background-color: #141414ff;
$dark-secondary-background-color: rgb(34, 34, 34);
$dark-main-text-color: #f7f9f2ff;
$dark-box-shadow: rgba(63, 63, 63, 0.747) 0px 2px 8px 0px;

$dark-system-primary-color: #e8c5e5ff;
$dark-system-secondary-color: #f19ed2ff;
$dark-system-tertiary-color: #91ddcfff;



/* Tema claro */
$light-main-background-color: #f7f9f2ff;
$light-secondary-background-color: #F7F9F2;
$light-main-text-color: #141414ff;
$light-box-shadow: rgba(49, 49, 49, 0.54) 0px 2px 8px 0px;

$light-system-primary-color: #e8c5e5ff;
$light-system-secondary-color: #f19ed2ff;
$light-system-tertiary-color: rgb(99, 243, 217);


/* Gerais */
$border-radius: 1rem;


// /* SCSS HEX */
// $night: #141414ff;
// $baby-powder: #f7f9f2ff;
// $thistle: #e8c5e5ff;
// $lavender-pink: #f19ed2ff;
// $tiffany-blue: #91ddcfff;