@import './colors.scss';


:root {
    --background-color: #{$light-main-background-color};
    --text-color: #{$light-main-text-color};
    --secondary-background-color: #{$light-secondary-background-color};
    --box-shadow: #{$light-box-shadow};

    --system-primary-color: #{$light-system-primary-color};
    --system-secondary-color: #{$light-system-secondary-color};
    --system-tertiary-color: #{$light-system-tertiary-color};



    --border-radius: #{$border-radius};
}

/* Tema claro */
.light-theme {
    --background-color: #{$light-main-background-color};
    --text-color: #{$light-main-text-color};
    --secondary-background-color: #{$light-secondary-background-color};
    --box-shadow: #{$light-box-shadow};

}

/* Tema escuro */
.dark-theme {
    --background-color: #{$dark-main-background-color};
    --text-color: #{$dark-main-text-color};
    --secondary-background-color: #{$dark-secondary-background-color};
    --box-shadow: #{$dark-box-shadow};

    --system-primary-color: #{$dark-system-primary-color};
    --system-secondary-color: #{$dark-system-secondary-color};
    --system-tertiary-color: #{$dark-system-tertiary-color};
}

/* Tema padrão do navegador */
@media (prefers-color-scheme: dark) {
    .auto-theme {
        --background-color: #{$dark-main-background-color};
        --text-color: #{$dark-main-text-color};
        --secondary-background-color: #{$dark-secondary-background-color};
        --box-shadow: #{$dark-box-shadow};
    }
}

* {
    transition: background-color 0.2s ease-in-out;
}

:root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    padding: 1rem;
    font-family: 'Inter', sans-serif;

    background-image: radial-gradient(gray 1px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px -19px;

    /* Cores */
    background-color: var(--background-color);
    color: var(--text-color);

    width: 70%;
    border: 1px solid var(--system-tertiary-color);

}

.card {
    background-color: var(--secondary-background-color);
    color: var(--text-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    padding: var(--border-radius);
    
}
