
/* Tema escuro */
$dark-main-background-color: #141414ff;
$dark-secondary-background-color: rgb(34, 34, 34, 0.3);
$dark-main-text-primary-color: #f7f9f2ff;
$dark-main-text-secondary-color: rgb(161, 161, 161);
$dark-box-shadow: rgba(132, 132, 132, 0.237) 0px 1px 4px 0px;

$dark-system-primary-color: #e8c5e5ff;
$dark-system-secondary-color: #f19ed2ff;
$dark-system-tertiary-color: #91ddcfff;



/* Tema claro */
$light-main-background-color: #f7f9f2ff;
$light-secondary-background-color: rgba(241, 241, 241, 0.3);
$light-main-text-primary-color: #141414ff;
$light-main-text-secondary-color: rgb(84, 84, 84);
$light-box-shadow: rgba(49, 49, 49, 0.237) 0px 1px 4px 0px;

$light-system-primary-color: rgb(239, 191, 235);
$light-system-secondary-color: #f19ed2ff;
$light-system-tertiary-color: rgb(99, 243, 217);


/* Gerais */
$border-radius: .5rem;


// /* SCSS HEX */
// $night: #141414ff;
// $baby-powder: #f7f9f2ff;
// $thistle: #e8c5e5ff;
// $lavender-pink: #f19ed2ff;
// $tiffany-blue: #91ddcfff;