<div class="switch-container">
    <div class="switch-option dark {{currentTheme() == 'dark' ? 'selected': '' }}" (click)="chanegTheme('dark')" >
        <label>dark</label>
    </div>
    <div class="switch-option auto {{currentTheme() == 'auto' ? 'selected': '' }}" (click)="chanegTheme('auto')" >
        <label>system</label>
    </div>
    <div class="switch-option light {{currentTheme() == 'light' ? 'selected': '' }}" (click)="chanegTheme('light')" >
        <label>light</label>
    </div>
</div>