.switch-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: min-content;
    height: 1.2rem;
    border-radius: .6rem;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
}

.switch-option {
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: .6rem;
    &.selected {
        scale: 1.1;
        background-color: aqua;
    }

    &.dark {
        color: #fff;

    }
    &.light {
        color: #000;
    }
    &auto {
        color: #000;
    }

}

.switch-option label {
    cursor: pointer;
}