/* Tema escuro */
$dark-main-background-color:  #141414ff;
$dark-secondary-background-color: rgba(95, 95, 95, 0.3);
$dark-main-text-primary-color: #f7f9f2ff;
$dark-main-text-secondary-color: rgb(161, 161, 161);
$dark-box-shadow: rgba(132, 132, 132, 0.237) 0rem 0.0625rem 0.25rem 0rem;
$dark-box-shadow-2: rgba(132, 132, 132, 0.237) 0rem 0.0625rem 0.5rem 0rem;

$dark-system-primary-color: #F25EDF;
$dark-system-secondary-color: #a3f3ff;
$dark-system-tertiary-color: #0799B0;

/* Tema claro */
$light-main-background-color: rgb(242, 242, 242);
$light-secondary-background-color: #f7f9f2ff;
$light-main-text-primary-color: #141414ff;
$light-main-text-secondary-color: rgb(84, 84, 84);
$light-box-shadow: rgba(49, 49, 49, 0.237) 0rem 0.0625rem 0.25rem 0rem;
$light-box-shadow-2: rgba(49, 49, 49, 0.237) 0rem 0.25rem 0.5rem 0rem;

$light-system-primary-color: #F25EDF;
$light-system-secondary-color: #a3f3ff;
$light-system-tertiary-color: #0799B0;

/* Gerais */
$border-radius: .7rem;
$spacing: .9rem;
$spacing-small: 0.5rem;
$spacing-large: 1.8rem;
