<div class="row">
    <div class="switch">
        <input id="switch-y" name="tripple" type="radio" value="d" class="switch-input" />
        <label for="switch-y" class="switch-label switch-label-y">Dark</label>
        <input id="switch-i" name="tripple" type="radio" value="s" class="switch-input" checked />
        <label for="switch-i" class="switch-label switch-label-i">System</label>
        <input id="switch-n" name="tripple" type="radio" value="l" class="switch-input" />
        <label for="switch-n" class="switch-label switch-label-n">Light</label>
        <span class="switch-selector"></span>
    </div>
</div>