
/* Tema caro */
$dark-main-background-color: rgb(46, 46, 46);
$dark-secondary-background-color: rgb(35, 35, 35);
$dark-main-text-color: rgb(209, 209, 209);
$dark-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;



/* Tema escuro */
$light-main-background-color: rgb(241, 241, 241);
$light-secondary-background-color: #eaeaea;
$light-main-text-color: rgb(29, 29, 29);
$light-box-shadow: rgba(255, 255, 255, 0.2) 0px 2px 8px 0px;


/* Gerais */
$border-radius: 1rem;